*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
    

}
.container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem gray;
    padding: 2rem;
    gap: 1rem;

}
.charge-remain-amount{
    display: flex;
}
.charge-remain-amount>input{
    padding: 1rem;
    font-size: large;
}
.top-up-actions{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
.top-up-actions>div{
    display: flex;
    gap: .5rem;

}
.top-up-actions>div>input{
    flex: 1;
    padding: .25rem;
    border: none;
    color: white;
    border-radius: .25rem;
    cursor: pointer;

}
.top-up-actions>div:first-child>input{
    background-color: darkgreen;
}

.top-up-actions>div:last-child>input{
    background-color: darkred;
}
